@using Parcels.Models;

<!DocType html>
<head>
  <title>Parcel</title>
</head>
<body>
  <h1>Welcome to the shipping company!</h1>
  <p>Place your item on the scale:</p>
  <form action="/" method="post">
    <label for="width">Width</label>
    <input id="width" name="width" type="number" min="1" required>
    <label for="height">Height</label>
    <input id="height" name="height" type="number" min="1" required>
    <label for="depth">Depth</label>
    <input id="depth" name="depth" type="number" min="1" required>
    <label for="weight">Weight</label>
    <input id="weight" name="weight" type="number" min="1" required>
    <button type="submit">Calculate Cost</button>
  </form>
  @if (Model == null)
  {
    <p>No package on the scale.</p>
  }
  else 
  {
    <p>$@Model.CostToShip()</p>
  }
</body>